<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>{{title}}</title>
</head>

<body>
    
    <div class="hi">
        <p>Hi {{name}}👋 Hope you're doing great today :)</p>
    </div>
    <nav>

        
       
     
    </nav>

    <nav>
        <a href="/about">About</a><p> |</p>
        <a href="/register">Register </a><p> |</p>
        <a href="/login">Log In</a>
    </nav>
    
    {{#if isAuthenticated}}
    <div class="container">
     <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
         <p>Radon Dev</p>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <a href="/about">About</a><p> |</p>
       <a href="/thanks">Thank You!</a><p> |</p>
         <a href="/signers">See All Signers</a><p> |</p>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2"><a href="/profile/edit">Profile</a><p> |</p></button>
        <button type="button" class="btn btn-primary"><a href="/logout">Log Out</a></button>
           
        
      </div>
     </header>
     </div>
     {{else}}
     <div class="container">
     <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
       <p>Radon Dev</p>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <a href="/about">About</a><p> |</p>
         <a href="/signers">See All Signers</a><p> |</p>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2"><a href="/profile/edit">Profile</a><p> |</p></button>
        <button type="button" class="btn btn-primary"><a href="/logout">Log Out</a></button>
           
        
      </div>
     </header>
     </div>
    {{/if}}
    {{{body}}}
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../../main-script.js"></script>
