<h1>About This Project</h1>

<p>My name is Roni, and this project is my first project which goes online as part of my journey to become a Web Developer.
During my time at <a href="https://www.spiced-academy.com/en/program/full-stack-web-development">Spiced Academy</a> (Web-Development Bootcamp), we were requested to build this website where people can sign a fictive petition. The basic functionality of our websites is the same, but we had a free hand to add more features, to design this website however we want and have some fun with the petition idea.

Tools used in this project:</p>
<ul>
    <li>🗸 I built this project in a <strong>Node</strong> environment</li>
    <li>🗸 I used the <strong>Express</strong>> as my web framework</li>
    <li>🗸 Libraries: <strong>JQuery</strong>, <strong>Handlebars</strong></li>
    <li>🗸 I used <strong>Bcrypt</strong> as my password-hashing algoritem</li>
    <li>🗸 I used the <strong>Cookie-Session</strong> from NPM as my cookie-based session middleware</li>
    <li>🗸 I chose to use <strong>LocalStorage</strong> for a better UX</li>
    <li>🗸 I tested my project using <strong>Supertest</strong></li>
    <li>🗸 To handle vulnerabilities, I set the <strong>X-Frame-Options header</strong> as "DENY" to combat Clickjacking</li>
    <li>🗸 I also used <strong>Csurf</strong> to combat CSRF</li>
</ul>


<p>This project was made after only 1.5 months of this Bootcamp, just imagine what I would be able to do in the future...
</p>