
<div class="about">

    <h1>About This Project</h1>

    
        <p class="text">My name is Roni, and this project is my first project which goes online as part of my journey to become a Web Developer after only 1.5 months of learning.<br>
        During my time at <a href="https://www.spiced-academy.com/en/program/full-stack-web-development">Spiced Academy</a
        > (Web-Development Bootcamp), we were requested to build this website where people can sign a fictive petition.<br>
        The basic functionality of our websites is the same, but we had a free hand to add more features, to design this website however we want and to have some fun with the petition idea.</p>
    
    
</div>

<link rel="stylesheet" href="../about-style.css">