<div class="about">

  <h1>About This Project</h1>

  <div class="text">
    <p>We're Radon Development, A Premier Cyber Security and Programming Team.
      Cadmus is our first ever project on a World-wide basis which goes online
      as part of our journey into shaping a Pleasant Society.
    </p>
    <p>
      During our time as a Team we encountered several inhumane incidents which
      led us to the establishment of Cadmus.
    </p>
    <p>
      The basic functionality of our future petition websites would remain the
      same, but we had a free hand to add more features, however we wish to
      provide a stage to the victims in order to raise our voices.
    </p>
  </div>

</div>

<link rel="stylesheet" href="../about-style.css" />