
<div class="about">

    <h1>About This Project</h1>

    
        <p class="text">We're Radon Development, A Premier Cyber Security and Programming Team. Cadmus is our first ever project on a World-wide basis which goes online as part of our journey into shaping a Pleasant Society.<br><br>
        During my time at <a href="https://www.spiced-academy.com/en/program/full-stack-web-development">Spiced Academy</a
        > (Web-Development Bootcamp), we were requested to build this website where people can sign a fictive petition.<br>
        The basic functionality of our websites is the same, but we had a free hand to add more features, to design this website however we want and to have some fun with the petition idea.</p>
    
    
</div>

<link rel="stylesheet" href="../about-style.css">
