<div class="fade"></div>

<section class="star-wars">
  <div class="crawl">
    <div class="title">
      <p>Episode IV</p>
      <h1>2020</h1>
    </div>
    
    <p>In a reality where the Corona has taken over the world<br>
        Where global warming is leading to natural disasters<br>
        There is one problem we have all forgotten about...</p>

    <p>There are people who combine Hummus with avocado, Hummus with pizza, Hummus with truffle<br><br>
        <a href="/register">We must stop them!</a>
    </p>

  </div>
</section>

<audio autoplay src="../Star-Wars-Theme.mp3"></audio>

<link rel="stylesheet" href="../landing-style.css">