<div class="fade"></div>

<section class="star-wars">
  <div class="crawl">
    <div class="title">
      <p>Episode IV</p>
      <h1>2020</h1>
    </div>

    <p>In a reality where the Corona has taken over the world,
        where global warming is leading to natural disasters.
        There is one problem we have all forgotten about...</p>

    <p>There are people who combine Hummus with chocolate, Hummus with pizza and Hummus with truffle<br>
    </p>

    <p id="link"><a id="aTag" href="/register">To stop them CLICK HERE</a></p>

  </div>
</section>

<audio autoplay src="../Star-Wars-Theme.mp3"></audio>

<link rel="stylesheet" href="../landing-style.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../landing-script.js"></script>