<div class="login">

<h1>Welcome back!</h1>

<form method='POST'>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    {{#if issue}}<p style="color: red; font-weight: bold">Something went wrong, please try again</p>{{/if}}
    {{#if emailNotExists}}<p style="color: red; font-weight: bold">This email doesn't exist, please sign up</p>{{/if}}

    <input type="text" name="email" placeholder="Email Address">
    <input type="password" name="typedPw" placeholder="Password">

    <button> Login </button>

</form>

<p>Don't have an account? <a href="/register">Sign up</a></p>

</div>


<link rel="stylesheet" href="../login-style.css">