<div class="petition">

    <h1 class="fw9">ONR STEP AT A TIME!</h1>

    <h4>Sign the Petition!</h4>

    <p>Help us put an end to offensive Humans degrading the society and the development of the human kind.</p>

    <form method='POST'>
            {{#if issue}}<p style="color: red; font-weight: bold">Please fill in your signature</p>{{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input id= "sig" type="hidden" name="signature">
            <p>Sign Here</p>
            <canvas id="canvas" width="300" height="80" style="border: 1px black dashed;"></canvas>        
            <button id="btn"> Let's save the Hummus! </button>
    </form>

</div>

 

<link rel="stylesheet" href="../petition-style.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../petition-script.js"></script>
