<h1>Shopping for groceries is not an easy task</h1>
<div class="container">
    <div class="container-right">
        <p>Sign our petition to establish speedy checkouts in grocery shops as a national competitive sport</p>
    </div>
    <div class="container-left">
    <form method='POST'>
        <div>
            {{#if missingFirst}}<p style="color: red;">Please fill in your first name</p>{{/if}}
            {{#if missingLast}}<p style="color: red;">Please fill in your last name</p>{{/if}}
            {{#if missingSig}}<p style="color: red;">Please fill in your signature</p>{{/if}}
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="signature">
            <input id= "sig" type="hidden" name="signature">
            <p>Sign Here</p>
            <canvas id="canvas" width="300" height="50" style="border: 1px black dashed;"></canvas>        
        </div>
        <button> submit </submit>
    </form>
</div>
</div>
{{!-- <img src="../checkout.gif" alt="checkout"> --}}
 

<link rel="stylesheet" href="../petitionStyle.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../script.js"></script>