<div class="profile">

    <h1>Your Profile</h1>

    <p>You don't have to share this info with us</p>

    <form method='POST'>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {{#if urlIssue}}<p style="color: red; font-weight: bold">Please make sure that you entered a valid URL</p>{{/if}}
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="url" placeholder="Homepage: http / https">

    <button> Submit </button>

    </form>

</div>

<link rel="stylesheet" href="../profile-style.css">