<div class="profile">

    <h4>Your Profile</h4>

    <p>You don't have to share this info with us</p>

    <form method='POST'>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <div class="form">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="city" placeholder="City">
        {{#if urlIssue}}<p style="color: red;">Please make sure that you entered a valid URL</p>{{/if}}
        <input type="text" name="url" placeholder="Homepage">
    </div>

    <button> submit </button>

</form>

</div>

<link rel="stylesheet" href="../profile-style.css">