<h1>Registration page</h1>

<p>if you have an account already, please sign in <a href="/login">here</a></p>

<form method='POST'>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <div class="form">
        {{#if missingFirst}}<p id="firstS" style="color: red;">*</p>{{/if}}
        <p id="first">First Name</p>
        <input id="firstI" type="text" name="first">
        {{#if missingLast}}<p id="lastS" style="color: red;">*</p>{{/if}}
        <p id="last">Last Name</p>
        <input id="lastI" type="text" name="last">
        {{#if missingEmail}}<p id="emailS" style="color: red;">*</p>{{/if}}
        <p id="email">Email Address</p>
        <input id="emailI" type="text" name="email">
        {{#if missingPw}}<p id="pwS" style="color: red;">*</p>{{/if}}
        <p id="pw">Password</p>
        <input id="pwI" type="password" name="pw">
    </div>

    <button> submit </button>

</form>

<link rel="stylesheet" href="../registerStyle.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../registerScript.js"></script>