<h1>SAVE THE HUMMUS!</h1>

<div class="register">

<h4>Join us!</h4>

    <form method='POST'>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    {{#if emailExists}}<p style="color: red;">This email is already exists, please use another email or log into your account</p>{{/if}}

    <div class="form">
        {{#if missingFirst}}<p id="firstS" style="color: red;">*</p>{{/if}}
        <input id="firstI" type="text" name="first" placeholder="First Name">
        {{#if missingLast}}<p id="lastS" style="color: red;">*</p>{{/if}}
        <input id="lastI" type="text" name="last" placeholder="Last Name">
        {{#if missingEmail}}<p id="emailS" style="color: red;">*</p>{{/if}}
        <input id="emailI" type="text" name="email" placeholder="Email Address">
        {{#if missingPw}}<p id="pwS" style="color: red;">*</p>{{/if}}
        <input id="pwI" type="password" name="pw" placeholder="Password">
    </div>

    <button>Register</button>

</form>

<p>Already have an account?<a href="/login">Login</a></p>

</div>




<link rel="stylesheet" href="../register-style.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../register-script.js"></script>