<div class="thanks">

  <h1>Thank you for joining the Campaign!</h1>
  <p>Your signature will help us with our struggle against unacceptable Humans</p>
  <strong>THANK YOU</strong>
  <p>for helping us tackle Injustice.</p>
  <img src="{{usersig}}" alt="your signature" />
  <a href="/signers">See all {{numOfRegistered}} Saviours</a>

  <form method="POST">

    <input type="hidden" name="_csrf" value="{{csrfToken}}" />

    <button class="btn" name="deleteSig"> Delete your signature </button>

  </form>

</div>

<link rel="stylesheet" href="../thanks-style.css" />