<div class="thanks">

<h1>Thank you for saving the Hummus!</h1>
<img src="{{usersig}}" alt="your signature">
<a href="/signers">Click to see all the {{numOfRegistered}} Hummus-saviors</a>

<form method='POST'>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button class="btn" name="deleteSig"> Delete your signature </button>
            
</form>

</div>



<link rel="stylesheet" href="../thanks-style.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../thanks-script.js"></script>