<div class="thanks">

<h1>Thank you for saving the Hummus!</h1>
<p>Your signature will help us with our struggle against unacceptable Hummus-combinations<br>
<strong>THANK YOU</strong> for helping us to bring justice back to the world</p>
<img src="{{usersig}}" alt="your signature">
<a href="/signers">See all {{numOfRegistered}} Hummus-saviors</a>

<form method='POST'>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button class="btn" name="deleteSig"> Delete your signature </button>
            
</form>

</div>



<link rel="stylesheet" href="../thanks-style.css">