* {
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url(../hummus-bg.jpg);
    background-size: cover;
    color: white;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

a,
h4,
p,
button,
input {
    font-family: "Raleway", sans-serif;
}

li {
    list-style: none;
    margin-bottom: 2.25rem;
}

a {
    text-decoration: none;
    justify-self: center;
    color: white;
}

nav {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    gap: 7px;
}

footer {
    position: absolute;
    bottom: 0;
}

input {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

button {
    cursor: pointer;
}

.name {
    display: contents;
    justify-self: center;
    color: white;
}
