/* added fonts from googlefonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-image: url(../bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: "Merriweather", serif;
}
html:after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.93;
  z-index: -1;
  top: 0;
  width: 100vw;
  min-height: 100%;
}
body h1,
body h2 {
  color: white;
}

a,
h4,
p,
li,
button,
input,
label {
  color: white;
}

li {
  list-style: none;
  margin-bottom: 2.25rem;
}

a {
  text-decoration: underline;
  justify-self: center;
  color: white;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #94aa23;
  color: #94aa23;
}

.simpleNav {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 65px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 700;
}

.authenticatedNav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  gap: 7px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 30px;
  margin-top: 65px;
}

.simpleNav > p {
  display: contents;
}

.hi {
  margin-top: 60px;
}

.hi > p {
  text-align: center;
  color: white;
  margin: 0 25px;
}

input {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  color: black;
}

button {
  cursor: pointer;
  color: black;
  display: block;
  border-radius: 20px;
  height: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #8b764c;
  color: #fff;
}

@media (max-width: 370px) {
  .simpleNav {
    margin-left: 8px;
  }
}
