body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url(../hummus-bg.jpg);
    background-size: cover;
}

.petition {
    text-align: center;
    width: 30%;
    height: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
    color: white;
}

h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 15px;
}

h4 {
    font-size: 20px;
}

button {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
}

canvas {
    background-color: white;
    cursor: url("../pen.png") 2 35, auto;
}
