.profile {
    text-align: center;
    width: 32%;
    height: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
}

h1 {
    margin-bottom: 30px;
}

button {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
    text-indent: 10px;
}
